<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="A cool thing made with Glitch" />
    <title>Civilpaper - Join Game</title>
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
    />
  </head>
  <body>
    <h3>Join an existing game</h3>
    <form action="/game/join" method="post">
      <input
        name="gamePin"
        type="text"
        maxlength="20"
        placeholder="Game Pin"
        required
      />
      <input
        name="user"
        type="text"
        maxlength="20"
        placeholder="Username"
        required
      />
      <input type="submit" value="Join Game" />
    </form>
    <br />
    <a href="/new">Host a new game</a>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script>
      function notif(text) {
        return new Noty({
          text: text,
          timeout:3000,
          theme: "sunset"
        });
      }
      
      var {search} = window.location;
      if(search.includes("taken=true")) {
        notif("That username is taken, please choose a different one.").show();
      } else if(search.includes("error=true")){
        notif("You are no longer in the game, thanks for playing!").show();
      }
    </script>
  </body>
</html>
