<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
    <title>Civilpaper - Playing game</title>
  </head>
  <body>
    <h1>Complete the objective to win!</h1> <p>
    Game Pin:
    {{gamePin}}
    </p>
    <hr>
    <h1>Leaderboard:</h1>
    <ol id="thing"></ol>
    {{> body}}
    <script>
      window.onerror = alert;
      socket.on("win", win => {
        var li = document.createElement("li");
        li.innerHTML = win.screenName;
        document.querySelector("#thing").appendChild(li);
      });
    </script>
    <script src="/onunload.js"></script>
  </body>
</html>
