<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Civilpaper - playing game</title>
    <style>
          
    </style>
  </head>
  <body>
    <h1>Complete all objectives to win!</h1>
    <hr>qw
    <h1>Leaderboard:</h1>
    <ol id="thing"></ol>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/linkgame.js"></script>
    <script>
      window.onerror = alert;
      linkGame("{{gamePin}}","{{userId}}");
      
      /*socket.on("newUpdate", update => {
        var li = document.createElement("li");
        li.innerHTML = `<b>${update.user}</b> ${update.text}`;
        document.querySelector("#updates").appendChild(li);
      });*/
      
      socket.on("win", win => {
        var li = document.createElement("li");
        li.innerHTML = win.screenName;
        document.querySelector("#thing").appendChild(li);
      }); 
     
      var addUnload = () => {
        window.addEventListener('beforeunload', function(e) {
          e.preventDefault();
          e.returnValue = '';
        });
        window.removeEventListener("click", addUnload);
      }
 window.addEventListener("click", addUnload);
    </script>
  </body>
</html>
