<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Civilpaper - playing game</title>
    <meta name="viewport" content="width=device-width, initial-scale-1.0">
  </head>
  <body>
    <h1>Complete all objectives to win!</h1>
    <hr>
    <h1>Leaderboard:</h1>
    <ul></ul>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/linkgame.js"></script>
    <script>
      linkGame("{{gamePin}}","{{userId}}");
      
      var socket = io(),
          nextPlace = 1;
      socket.on("newUpdate", update => {
        var li = document.createElement("li");
        li.innerHTML = `<b>${update.user}</b> ${update.text}`;
        document.querySelector("#updates").appendChild(li);
      });
      
      socket.on("newWin", win => {
        var li = document.createElement("li");
        li.innerHTML = `${nextPlace}. ${win.user}`;
        nextPlace++;
      });
      
       window.onbeforeunload = confirmExit;
    function confirmExit(event) {
      event.returnValue = "han solo"
        return "You have attempted to leave this page. Are you sure?";
    }
    </script>
  </body>
</html>
