<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Simple game template</title>
  </head>
  <body>
    <p> 
      You Are The Host, in the (very near) future, you will have controls such as kick user and start game.
    </p>
    <h3>Go to <span id="domain">Loading...</span>/play and enter the pin:</h3>
    <h1 id="gamepin">Loading...</h1>
    <ul id="players"></ul>
    <small>
      Psst! just click on someone's name to kick them out of the game!
    </small>
    <input type="button" id="start" value="Start Game">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/member-list.js"></script>
    <script src="/host.js"></script>
 
  </body>
</html>
