@font-face {
  src:url(https://cdn.glitch.com/38d28f59-c715-444f-a81a-9ace84dbe9f0%2FRubik-BoldItalic.ttf?v=1605571458887);
  font-family:rubik;
}

*, *::before, *::after {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

*::after, *::before {
  box-sizing:border-box;
}

body {
  text-align:center;
  font-family:rubik;
}

.instructions {
  background-color:#428af5;
  color:white;
  width:100vw;
  text-align:center;
}

.link {
  font-size:30px;
}

.pin {
  font-size:70px;
  color:white;
}

h1, h2, h3, h4, h5, h6 {
  margin:0px 0 10px 0;
}

ul {
  padding:40px;
  display:flex;
  flex-direction:row;
  align-items:center;
  font-family:calibri;
  flex-wrap:wrap;
}

ul li {
  display:block;
  padding:20px;
  font-size:30px;
  font-weight:600;
  list-style:none;
  margin:auto;
}