/* styles */
/* called by your view template */

* {
  box-sizing: border-box;
}

@font-face {
  src: url(https://cdn.glitch.com/887c9896-8f4a-43f2-989c-68584c8d1c1a%2FRubik-VariableFont_wght.ttf?v=1621893845824);
  font-family: rubik;
}

body {
  font-family: rubik, helvetica, arial, sans-serif;
}

.bold {
  font-weight: bold;
}

p {
  max-width: 600px;
}

form {
  margin-bottom: 25px;
  padding: 15px;
  background-color: cyan;
  display: inline-block;
  width: 100%;
  max-width: 340px;
  border-radius: 3px;
}

input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  font-size: 16px;
}

input[type=button] {
  display:inline;
  width:initial;
  margin:10px;
  font-size: 16px;
  border-radius: 3px;
  background-color: #ccc;
  border: none;
  box-shadow: 2px 2px #428af5;
  cursor: pointer;
}

input[type=button]:hover {
  background-color:#428af5;
}

input[type=button]:active {
  box-shadow: none;
}

li {
  margin-bottom: 5px;
}
footer {
  margin-top: 50px;
  padding-top: 25px;
  border-top: 1px solid lightgrey;
}