<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head}}
    <title>Civilpaper - Playing Game</title>
  </head>
  <body>
    <div id="container"></div>
    <script src="https://unpkg.com/konva@7.0.3/konva.min.js"></script>
    {{> body}}
    <script src="/onunload.js"></script>
    <script src="/game.js"></script>
  </body>
</html>
