<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Waiting for game to start...</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <h3>Waiting for the game to start...</h3>
    <hr>
    <h1>Success!</h1>
    <h3>You are in the game.You should see your name on the host's screen.
      Now all you have to do is wait for the host to start the game!</h3>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/linkgame.js"></script>
    <script>
      linkGame("{{gamePin}}","{{userId}}");
    </script>
  </body>
</html>
