<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Waiting for game to start...</title>
  </head>
  <body>
    <h3>
      Waiting for the game to start...
    </h3>
    <hr>
    <h4>
      Current players:
    </h4>
    <ul id="players">
      
    </ul>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var socket = io();
      
      socket.on("connect", async () => {
       var req = await fetch("/game/info"),
           data = await req.json();
        socket.emit("linkGame", [data.gamePin, data.userId]);
      });
      
      socket.on("newUser", () => {
        updatePlayers();
      });
      
      async function updatePlayers() {
        var req = await fetch("/game/members"),
            data = await req.json();
        data.forEach(x => {
          var listElem = document.createElement("li"),
              title = x.isHost ? " (host)" : "";
          listElem.innerHTML = x.screenName + title;
          document.querySelector("#players").appendChild(listElem);
        });
      }
      
      updatePlayers();
    </script>
  </body>
</html>
